<dx-vector-map 
    id="vector-map" 
    [projection]="projection"> 
    <dxo-tooltip 
        [enabled]="true" 
        [customizeTooltip]="customizeTooltip">
    </dxo-tooltip>
    <dxi-layer 
        [hoverEnabled]="false" 
        [dataSource]= "buildingData" 
        name="building">
    </dxi-layer>
    <dxi-layer 
        [dataSource]="roomsData" 
        [customize]="customizeLayers"
        name="rooms">
        <dxo-label [enabled]="true" dataField="value"  [customizeText]="customizeText"></dxo-label>
    </dxi-layer>
</dx-vector-map>