<dx-vector-map 
    id="vector-map" 
    [projection]="projection"> 
    <dxo-tooltip 
        [enabled]="true" 
        [customizeTooltip]="customizeTooltip">
    </dxo-tooltip>
    <dxi-layer 
        [hoverEnabled]="false" 
        [dataSource]= "buildingData" 
        name="building">
    </dxi-layer>
    <dxi-layer 
        color="#B22222" 
        [dataSource]= "roomsData" 
        name="rooms">
        <dxo-label [enabled]="true" dataField="name" font="size: 8"></dxo-label>
    </dxi-layer>    
</dx-vector-map>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Room</th>
        <th scope="col">Description</th>
        <th scope="col">Temperature</th>
        <th scope="col">Humidity</th>
        <th scope="col">Light</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let temperature of listeTemperatures | async">
        <td>{{temperature.room}}</td>
        <td>{{temperature.describ}}</td>
        <td>{{temperature.sensorDataEntity.temp}}</td>
        <td>{{temperature.sensorDataEntity.hmdt}}</td>
        <td>{{temperature.sensorDataEntity.light}}</td>
    </tr>
    </tbody>
</table>